<div class="container topic-heading">
  <div class="topics-header">
    <div class="topic-name">
      <h3><%= @theme.title %></h3>
      <h5><%= @theme.description %></h5>
    </div>
    <div class="add-new-topic">
      <%= link_to new_theme_topic_path(@theme) do%>
        <i class="create-btn-icon fa-solid fa-circle-plus"></i>
      <%end%>
    </div>
  </div>
  <div class="themes-card-container">
    <% @topics.order(:title).each do |topic| %>
      <%= link_to topic_path(topic) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(topic.photo.key) if topic.photo.key.present? %>)">
          <h3><%= topic.title.truncate(20) %></h3>
          <p><%= topic.description.truncate(70) %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Back", themes_path, :class => "create-btn" %>


</div>
