<div class="container topic-heading">
  <div class="topics-header">
    <div class="topic-header">
      <div style="width:165px;">
        <h1></h1>
      </div>
    </div>
  <div class="topic-name">
    <h3><%= @topic.title %></h3>
    <h5><%= @topic.description %></h5>
  </div>
  <div class="add-new-topic">
    <%= link_to new_topic_item_path(@topic, @item) do%>
      <i class="create-btn-icon fa-solid fa-circle-plus"></i>
    <%end%>
  </div>
  <div class="themes-card-container">
    <% @items.order(:title).each do |item| %>
      <%= link_to item_path(item) do %>
        <% if item.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path item.photo.key %>)">
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_tag "banner.jpg" %>)">
        <% end %>
          <h3><%= item.title.truncate(25) %></h3>
          <p><%= item.description.truncate(70) %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Back", theme_path(@topic.theme), :class => "create-btn" %>


</div>
