
<% if user_signed_in? %>
  <div class="sidebar">

    <div>
      <H4 class="theme-side">My themes </H4>
    </div>
    <% current_user.themes.order(:title).each do |theme| %>
      <div class="theme-container" data-controller="sidebar-dropdown">
        <% if theme.topics.any? %>
          <a class="theme dropdown-btn"  data-action="click->sidebar-dropdown#toggleDropdownTopics" href=""><%= theme.title%></a>
        <% else %>
          <%= link_to theme.title, theme_path(theme), class: "theme dropdown-btn" %>
        <% end %>
        <div class="dropdown-container hidden" data-sidebar-dropdown-target="topicsDropdown">
          <% theme.topics.order(:title).each do |topic| %>
            <% if topic.items.any? %>
              <a class="topic" href="" data-action="click->sidebar-dropdown#toggleDropdownItems"><%= topic.title%> </a>
            <% else %>
              <%= link_to topic.title, topic_path(topic), class: "topic" %>
            <% end %>
            <div class="hidden" data-sidebar-dropdown-target="itemsDropdown">
              <% topic.items.order(:title).each do |item| %>
                <%= link_to item.title, item_path(item), class: 'item', id: 'item-hover'%>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
