<div style="padding-top: 40px;">
  <h4 class="my-events">Favourites</h4>
</div>

<div class="container topic-heading">
  <div class="themes-card-container">
    <% @themes.order(:title).each do |theme| %>
      <div class="card-favorite-btn">
        <%= link_to theme_path(theme) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path(theme.photo.key) if theme.photo.key.present? %>)">
            <div class="card-content">
              <h3><%= theme.title.truncate(20) %></h3>
              <p><%= theme.description.truncate(70) %></p>
            </div>
          </div>
        <% end %>
        <div class="favorite-btn">
          <% if theme.favorite? %>
            <%= link_to unfavorite_theme_path(theme), method: :patch do %>
              <i class="fas fa-heart fa-lg"></i>
            <% end %>
          <% else %>
            <%= link_to favorite_theme_path(theme), method: :patch do %>
              <i class="far fa-heart fa-lg"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="home-card">
  <div class="calendar-container">
  <h4 class="my-events">My events</h4>
    <% @all_events.each do |event| %>
      <div class="event-display">
        <p class="date"><%= event.start_time %></p>
        <p><%= event.name %></p>
      </div>
    <% end %>
  </div>

  <div class="task-container">
    <h4 class="my-events">My tasks</h4>
    <% @themes.each do |theme| %>
      <% if theme.task_components.count != 0 %>
        <div class="task-card">
          <div class="theme-title">
            <h5><%= theme.title.truncate(20) %></h5>
          </div>
          <div class="task-counter">
            <span class="open-tasks"><%= theme.task_components.where(completed: false).count %></span> Open out of <span class="total-tasks"><%= theme.task_components.count %></span> tasks !
            <div class="progress-bar">
                <div class="progress" style="width: <%= (theme.task_components.where(completed: false).count.to_f / theme.task_components.count.to_f) * 100 %>%;"></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
