<div class="flex-container">

  <div class="flex-item">
    <div class="container theme-card-container">
      <ul>
      <h3>Themes</h3>
          <% @themes.each do |theme| %>
            <%= link_to theme_path(theme) do %>
              <div class="theme-card">
                <div class="theme-photo">
                </div>
                <div class="theme-content">
                  <h3><%= theme.title %></h3>
                  <p><%= theme.description.truncate(70) %></p>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </ul>
  </div>

  <div class="flex-item">
    <div class="container theme-card-container">
      <ul>
      <h3>Topics</h3>
        <% @topics.each do |topic| %>
          <%= link_to topic_path(topic) do %>
            <div class="theme-card">
              <div class="theme-photo">
              </div>
              <div class="theme-content">
                <h3><%= topic.title %></h3>
                <p><%= topic.description.truncate(70) %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </ul>
  </div>

    <div class="flex-item">
    <h3>Items</h3>
    </div>


  <div class="flex-item">
    <div class="container calendar-container">
    <%= image_tag "calendar.png" %>
    <%= image_tag "calendar.png" %>
    </div>

  </div>


</div>
