<div class="container">
  <div class="item-name">
    <h1><%= @item.title %></h1>
  </div>
  <div class="component-title">
    <h3>Notepad</h3>
  </div>
  <div class="show-text">
    <% @texts.each do |text| %>
      <p><%= text.paragraph %></p>
    <% end  %>
  </div>
  <div class="text-form">
    <%= simple_form_for [@item, @text] do |f| %>
      <%= f.input :paragraph, placeholder: "write here..." %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="component-title">
    <h3>Links</h3>
  </div>
  <div class="show-url">
    <% @links.each do |link| %>
    <% object = LinkThumbnailer.generate("http://" + link.url) %>
    <div class="link-gem-container">
        <%= image_tag object.images.first.src.to_s, alt: "link image", width: 200 %>
      <div class="link-gem">
        <h3><%= object.title %></h3>
        <p><%= object.description %></p>
      </div>
    </div>
    <% end %>
  </div>


  <div class="link-form">
    <%= simple_form_for [@item, @link] do |f| %>
      <%= f.input :url, placeholder: "www.hello.com" %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>

  </div>

  <div class="component-title">
    <h3>Task list</h3>
  </div>

  <ul class="show-text">
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed? %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <strong><%= task.title %></strong> - <%= task.details %>
        <%# link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"} do %>
          <%# <i class="fa-regular fa-trash-can"></i> %>
        <%# end %>
      </li>
    <% end %>
  </ul>

  <div class="task-form">
    <%= simple_form_for [@item, @task] do |f| %>
      <div class="form-group">
        <%= f.input :title, class: 'form-control', placeholder: "Grocery shopping..." %>
      </div>

      <div class="form-group">
        <%= f.input :details, class: 'form-control', placeholder: "Milk, Chicken..." %>
      </div>


      <%= f.submit class: 'btn btn-primary mt-3' %>
    <% end %>
  </div>

  <div class="component-title">
    <h3>Location</h3>
  </div>

  <div class="link-form">
    <%= simple_form_for [@item, @location] do |f| %>
      <%= f.input :name, placeholder: "eg. Restaurants" %>
      <%= f.input :address, placeholder: "123, Abbey Road" %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="map-box" style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <div class="back-btn">
    <%= link_to "Back", topic_path(@topic)%>
  </div>


</div>
